<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>PRODUCT ID</th>
                <th>PRDUCT NAME</th>
                <th>PRICE</th>
                <th>STOCK</th>
                <th>DELETE</th>
                <th>UPDATE</th>
            </tr>
        </thead>
        <tbody *ngFor="let products of productData">
            <tr>
                <td>{{products.productId}}</td>
                <td>{{products.productName}}</td>
                <td>{{products.productPrice}}</td>
                <td>{{products.productStock}}</td>

                <td><button (click)="deleteProduct(products.productId)">DELETE</button></td>
                <td><button (click)="updateProduct(products.productId)">UPDATE</button></td>
            </tr>
        </tbody>
    </table>
</body>
</html>